<mat-card class="main-board">
<div>
	<app-timeboard></app-timeboard>
</div>
<div>
<mat-grid-list class="mat-grid-list" cols="4" >
  <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
      [style.background]="lightblue">

  </mat-grid-tile>
  <mat-grid-tile
      [colspan]="2"
      [rowspan]="1"
      [style.background]="lightgreen">
      	<app-newtask></app-newtask>
  </mat-grid-tile>
  <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
      [style.background]="lightpink">
  </mat-grid-tile>
</mat-grid-list>
</div>


<div>
	<app-createdtask></app-createdtask>
</div>



</mat-card>





